.container {
    background-color: red;
    border: 2px solid black;
    display: inline-block;
    width: 300px;
    height: 500px;
    border-radius: 20px;
}

.logo-container {
    margin-top: 20px;
    margin-left: 10px;
}

.display {
    margin: auto;
    height: 50px;
    width: 70%;
    background-color: black;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.OperatorButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.numberButton, .operatorButton, .specialButton {
    height: 50px;
    width: 50px;
    margin: 8px;
    border-radius: 30px;
}

.operatorButton {
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
}

.numberButton {
    background-color: blue;
}

.specialButton {
    background-color: cyan;
}

.App {
    display: flex;
}

.NumAndSpecialButtons {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}